#change {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 100px;
    background-color: rgba(223, 214, 79, 0.774);
    border: 2px solid #737e0f;
    margin: 20px;
    text-align: center;
    color: black;
    font-family: Impact;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1px;
    height: 100vh;
}